<p>=========================================</p>
<p>New event from <%= @group.name %>!!</p>
<p>=========================================</p>

<p>Title: <%= @mail_title %></p>

<p>Details: </p>
<p><%= @mail_content %></p>